# Simulate a small company

b) Use gemini to simulate 20 data points in json format containing the following fields: first_name, last_name, phone_number, email, department, salary, title. See if you can prompt to direct the LLM output to have swedish names, phone numbers in swedish format (+46 731 29 52), departments (IT, HR, marketing, sales), reasonable salary (you might need to check some swedish statistics on salaries) and corresponding titles within these departments.

In [4]:
from google import genai

client = genai.Client()

response = client.models.generate_content(
    model= "gemini-2.5-flash",
    contents= """Give me 20 different data of empoyee in a company with json fromat. 
    It should contain follow fields: 
    first_name, last_name, phone_number, email, department, salary, title. 
    Name, phone and salar should be adapted to Swedish environment"""
)


response.text

'```json\n[\n  {\n    "first_name": "Erik",\n    "last_name": "Andersson",\n    "phone_number": "070-123 45 67",\n    "email": "erik.andersson@examplecompany.se",\n    "department": "Engineering",\n    "salary": 55000,\n    "title": "Senior Software Developer"\n  },\n  {\n    "first_name": "Anna",\n    "last_name": "Johansson",\n    "phone_number": "072-987 65 43",\n    "email": "anna.johansson@examplecompany.se",\n    "department": "Marketing",\n    "salary": 48000,\n    "title": "Marketing Specialist"\n  },\n  {\n    "first_name": "Johan",\n    "last_name": "Karlsson",\n    "phone_number": "073-555 11 22",\n    "email": "johan.karlsson@examplecompany.se",\n    "department": "Sales",\n    "salary": 62000,\n    "title": "Sales Manager"\n  },\n  {\n    "first_name": "Sara",\n    "last_name": "Nilsson",\n    "phone_number": "070-222 33 44",\n    "email": "sara.nilsson@examplecompany.se",\n    "department": "Human Resources",\n    "salary": 52000,\n    "title": "HR Business Partner"\n  },\n  {\n    "first_name": "Magnus",\n    "last_name": "Eriksson",\n    "phone_number": "076-888 99 00",\n    "email": "magnus.eriksson@examplecompany.se",\n    "department": "Finance",\n    "salary": 68000,\n    "title": "Financial Controller"\n  },\n  {\n    "first_name": "Linda",\n    "last_name": "Larsson",\n    "phone_number": "070-111 22 33",\n    "email": "linda.larsson@examplecompany.se",\n    "department": "Product Management",\n    "salary": 75000,\n    "title": "Product Owner"\n  },\n  {\n    "first_name": "Oskar",\n    "last_name": "Olsson",\n    "phone_number": "072-333 44 55",\n    "email": "oskar.olsson@examplecompany.se",\n    "department": "IT Support",\n    "salary": 38000,\n    "title": "IT Support Technician"\n  },\n  {\n    "first_name": "Sofia",\n    "last_name": "Persson",\n    "phone_number": "073-666 77 88",\n    "email": "sofia.persson@examplecompany.se",\n    "department": "Customer Service",\n    "salary": 32000,\n    "title": "Customer Service Representative"\n  },\n  {\n    "first_name": "David",\n    "last_name": "Svensson",\n    "phone_number": "070-444 55 66",\n    "email": "david.svensson@examplecompany.se",\n    "department": "Operations",\n    "salary": 45000,\n    "title": "Operations Coordinator"\n  },\n  {\n    "first_name": "Emma",\n    "last_name": "Berg",\n    "phone_number": "076-123 98 76",\n    "email": "emma.berg@examplecompany.se",\n    "department": "Legal",\n    "salary": 70000,\n    "title": "Legal Counsel"\n  },\n  {\n    "first_name": "Fredrik",\n    "last_name": "Lindberg",\n    "phone_number": "070-999 00 11",\n    "email": "fredrik.lindberg@examplecompany.se",\n    "department": "Engineering",\n    "salary": 60000,\n    "title": "DevOps Engineer"\n  },\n  {\n    "first_name": "Maria",\n    "last_name": "Söderberg",\n    "phone_number": "072-777 88 99",\n    "email": "maria.soderberg@examplecompany.se",\n    "department": "Marketing",\n    "salary": 50000,\n    "title": "Content Creator"\n  },\n  {\n    "first_name": "Gustav",\n    "last_name": "Lundgren",\n    "phone_number": "073-111 00 99",\n    "email": "gustav.lundgren@examplecompany.se",\n    "department": "Sales",\n    "salary": 58000,\n    "title": "Account Executive"\n  },\n  {\n    "first_name": "Elin",\n    "last_name": "Dahlberg",\n    "phone_number": "070-888 77 66",\n    "email": "elin.dahlberg@examplecompany.se",\n    "department": "Human Resources",\n    "salary": 47000,\n    "title": "Recruitment Specialist"\n  },\n  {\n    "first_name": "Niklas",\n    "last_name": "Holm",\n    "phone_number": "076-555 44 33",\n    "email": "niklas.holm@examplecompany.se",\n    "department": "Finance",\n    "salary": 59000,\n    "title": "Junior Accountant"\n  },\n  {\n    "first_name": "Ida",\n    "last_name": "Wikström",\n    "phone_number": "070-333 22 11",\n    "email": "ida.wikstrom@examplecompany.se",\n    "department": "Product Management",\n    "salary": 68000,\n    "title": "UI/UX Designer"\n  },\n  {\n    "first_name": "Mattias",\n    "last_name": "Falk",\n    "phone_number": "072-121 31 41",\n    "email": "mattias.falk@examplecompany.se",\n    "department": "IT Support",\n    "salary": 42000,\n    "title": "Network Administrator"\n  },\n  {\n    "first_name": "Clara",\n    "last_name": "Sjöberg",\n    "phone_number": "073-454 65 75",\n    "email": "clara.sjoberg@examplecompany.se",\n    "department": "Customer Service",\n    "salary": 35000,\n    "title": "Customer Success Manager"\n  },\n  {\n    "first_name": "Viktor",\n    "last_name": "Forsberg",\n    "phone_number": "070-676 87 97",\n    "email": "viktor.forsberg@examplecompany.se",\n    "department": "Operations",\n    "salary": 53000,\n    "title": "Logistics Specialist"\n  },\n  {\n    "first_name": "Lena",\n    "last_name": "Ekström",\n    "phone_number": "076-212 34 56",\n    "email": "lena.ekstrom@examplecompany.se",\n    "department": "Engineering",\n    "salary": 85000,\n    "title": "Engineering Lead"\n  }\n]\n```'

c) Now use pydantic to validate this json and put in proper schema that the fields should follow. You might need to do some processing such as removing backticks and maybe loading json data into a list with json.loads(). Also make sure that only correctly validated data should be stored.

In [12]:
from pydantic import BaseModel, Field, EmailStr
from typing import Literal
# import phonenumbers

class Employee(BaseModel):
    first_name: str = Field(description="Swedish first name")
    last_name: str = Field(description= "Swedish last name")
    phone_number: str = Field(description="Swedish phone number, e.g +46705435647")
    email: EmailStr
    department: Literal["IT", "HR", "marketing", "sales"] 
    salary: float = Field(description="Salary in swedish currentcy and adapted to Swedish marketing")

d) Write this json data to a folder called output_data.

In [32]:
from pathlib import Path
from google import genai

path_output_data = Path.cwd()/"output_data"

client = genai.Client()

prompt = """Give me 20 different data of empoyee in a company with json fromat. 
    It should contain follow fields: 
    first_name, last_name, phone_number, email, department, salary, title."""

response = client.models.generate_content(
    model= "gemini-2.5-flash",
    contents= prompt,
    config = {
        "response_mime_type": "application/json",
        "response_schema": list[Employee]
    }
)


response.text


employee_data = response.text

In [33]:
import os

# check if folder exists, if not create one
os.makedirs("output_data", exist_ok= True)


with open("output_data/employee.json", "w", encoding= "utf-8") as file:
    
    file.write(employee_data)

e) Use pandas to read the data as dataframe

In [ ]:
import pandas as pd

employee = pd.read_json("output_data/employee.json")


df = pd.DataFrame(employee)

df

,first_name,last_name,phone_number,email,department,salary
0,Anna,Andersson,46701234567,anna.andersson@example.com,IT,45000
1,Erik,Johansson,46702345678,erik.johansson@example.com,sales,48000
2,Sara,Karlsson,46703456789,sara.karlsson@example.com,marketing,42000
3,Per,Nilsson,46704567890,per.nilsson@example.com,HR,40000
4,Maria,Lindgren,46705678901,maria.lindgren@example.com,IT,50000
5,Jonas,Svensson,46706789012,jonas.svensson@example.com,sales,52000
6,Emma,Berg,46707890123,emma.berg@example.com,marketing,43000
7,Daniel,Pettersson,46708901234,daniel.pettersson@example.com,HR,41000
8,Linda,Gustafsson,46709012345,linda.gustafsson@example.com,IT,47000
9,Martin,Holm,46700123456,martin.holm@example.com,sales,49000
10,Sofia,Bengtsson,46701122334,sofia.bengtsson@example.com,marketing,44000
11,Oskar,Olsson,46702233445,oskar.olsson@example.com,HR,39000
12,Karin,Lundberg,46703344556,karin.lundberg@example.com,IT,55000
13,Fredrik,Engström,46704455667,fredrik.engstrom@example.com,sales,51000
14,Hanna,Eklund,46705566778,hanna.eklund@example.com,marketing,46000
15,Robert,Larsson,46706677889,robert.larsson@example.com,HR,42000
16,Cecilia,Söderberg,46707788990,cecilia.soderberg@example.com,IT,48000
17,Victor,Mårtensson,46708899001,victor.martensson@example.com,sales,53000
18,Lovisa,Wallin,46709900112,lovisa.wallin@example.com,marketing,41000
19,Patrik,Axelsson,46700011223,patrik.axelsson@example.com,HR,43000

f) Write a csv file to your output_data

In [ ]:


df.to_csv("output_data/employee.csv", index=False, encoding= "utf-8")

g) Load this data into a staging layer and store this into a table called employees.

In [46]:
import dlt 
from pathlib import Path


path_duckdb = str(Path.cwd()/"data_warehouse/employees.duckdb")


pipeline = dlt.pipeline(
    pipeline_name= "staff",
    destination= dlt.destinations.duckdb(path_duckdb),
    dataset_name= "staging"
)

employee_dict = df.to_dict(orient="records")

info = pipeline.run(data= employee_dict, table_name= "employees")
    
    
print(info)

Pipeline staff load step completed in 0.20 seconds
1 load package(s) were loaded to destination duckdb and into dataset staging
The duckdb destination used duckdb:///c:\Users\MAER\Documents\STI\dataplattform_maskininlärning_artificiell_intelligens\AI_engineering_Marcus_Ericsson_de24\exercises\exercise_0\4_simulate_small_company\data_warehouse\employees.duckdb location to store data
Load package 1764456864.1894236 is LOADED and contains no failed jobs